<h1>Welcome to your learning Rails Site</h1>
<p>Below you will find links to variouse things you have learned about RoR</p>
<ul>
	<!--link to method, first the text to be displayed, then the link will point to the directory you want to link to-->
	<li><%= link_to 'Showing all the articles in the db', controller: 'articles' %></li>
</ul>